@{
    ViewData["Title"] = "Каталог";
}

<div class="container">
    <nav aria-label="breadcrumb" class="nav-breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a asp-controller="Client" asp-action="Home" class="link-body-emphasis">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="#" class="link-body-emphasis fw-semibold text-decoration-none">
                    Каталог
                </a>
            </li>
        </ol>
    </nav>
    <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        <div class="col col-md-4 col-lg-3">
            <div class="dropend mb-2">
                <button type="button" class="btn btn-primary dropdown-toggle catalog-dropend-button"
                        data-bs-toggle="dropdown" aria-expanded="true" data-bs-auto-close="outside">
                    Укулеле
                </button>
                <ul class="dropdown-menu"></ul>
            </div>
            <div class="dropend mb-2">
                <button type="button" class="btn btn-primary dropdown-toggle catalog-dropend-button"
                        data-bs-toggle="dropdown" aria-expanded="true" data-bs-auto-close="outside">
                    Гитары
                </button>
                <ul class="dropdown-menu"></ul>
            </div>
            <div class="dropend mb-2">
                <button type="button" class="btn btn-primary dropdown-toggle catalog-dropend-button"
                        data-bs-toggle="dropdown" aria-expanded="true" data-bs-auto-close="outside">
                    Клавишные инструменты
                </button>
                <ul class="dropdown-menu"></ul>
            </div>
            <div class="dropend mb-2">
                <button type="button" class="btn btn-primary dropdown-toggle catalog-dropend-button"
                        data-bs-toggle="dropdown" aria-expanded="true" data-bs-auto-close="outside">
                    Ударные инструменты
                </button>
                <ul class="dropdown-menu"></ul>
            </div>
            <div class="dropend">
                <button type="button" class="btn btn-primary dropdown-toggle catalog-dropend-button"
                        data-bs-toggle="dropdown" aria-expanded="true" data-bs-auto-close="outside">
                    Микрофоны и радиосистемы
                </button>
                <ul class="dropdown-menu">
                    <li class="dropend">
                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Микрофоны
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Инструментальные</a></li>
                            <li><a class="dropdown-item" href="#">Студийные</a></li>
                            <li><a class="dropdown-item" href="#">Петличные</a></li>
                        </ul>
                    </li>
                    <li class="dropend">
                        <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Радиосистемы
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Вокальные</a></li>
                            <li><a class="dropdown-item" href="#">Для ТВ и радио</a></li>
                            <li><a class="dropdown-item" href="#">Головные</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/ukulele1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Укулеле</p>
                    <h5 class="card-title">FLIGHT TUS ALYONA SHVETZ</h5>
                    <p class="card-text card-price">4 840 р.</p>
                    <p class="card-text card-rating">
                        <i class="icon-star"></i>
                        4,8
                        <small class="card-reviews">
                            125 отзывов
                        </small>
                    </p>
                    <a href="#" class="btn btn-primary card-button">В корзину</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/ukulele2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Укулеле</p>
                    <h5 class="card-title">FLIGHT NUT 310</h5>
                    <p class="card-text card-price">8 380 р.</p>
                    <p class="card-text card-rating">
                        <i class="icon-star"></i>
                        4,5
                        <small class="card-reviews">
                            594 отзыва
                        </small>
                    </p>
                    <a href="#" class="btn btn-primary card-button">В корзину</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="/img/ukulele3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Укулеле</p>
                    <h5 class="card-title">FLIGHT TUS 40 GRAFFITI</h5>
                    <p class="card-text card-price">4 300 р.</p>
                    <p class="card-text card-rating">
                        <i class="icon-star"></i>
                        3,9
                        <small class="card-reviews">
                            10 отзывов
                        </small>
                    </p>
                    <a href="#" class="btn btn-primary card-button">В корзину</a>
                </div>
            </div>
        </div>
    </div>
</div>