<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LUFS</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/custom-bootstrap.css" />
    <link rel="stylesheet" href="/css/animation.css" />
    <link rel="stylesheet" href="/css/fontello.css"/>
    <link rel="stylesheet" href="/css/fontello-codes.css" />
    <link rel="stylesheet" href="/css/fontello-embedded.css" />
    <link rel="stylesheet" href="/css/fontello-ie7.css" />
    <link rel="stylesheet" href="/css/fontello-ie7-codes.css" />
    <link rel="stylesheet" href="/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand navbar-brand-mine" asp-area="" asp-controller="Client" asp-action="Home">
                    <img src="/img/logo.png" class="img-fluid img-logo" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item nav-item-mine">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="Home">
                                Главная
                            </a>
                        </li>
                        <li class="nav-item nav-item-mine">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Catalog" asp-action="Catalog" asp-route-id="">
                                Каталог
                                <i class="icon-catalog navbar-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item nav-item-mine">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="Shops">
                                Магазины
                                <i class="icon-location navbar-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item nav-item-mine">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="Card">
                                Корзина
                                <i class="icon-basket navbar-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown nav-item-mine">
                            <a class="nav-link dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                               asp-area="" asp-controller="Client" asp-action="Help">
                                Помощь
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Help" asp-action="WhereOrder">Где мой заказ?</a></li>
                                <li><a class="dropdown-item" asp-controller="Help" asp-action="Hotline">Горячая линия</a></li>
                                <li><a class="dropdown-item" asp-controller="Help" asp-action="Guarantee">Гарантия</a></li>
                                <li><a class="dropdown-item" asp-controller="Help" asp-action="ServiceCentres">Сервис-центры</a></li>
                                <li><a class="dropdown-item" asp-controller="Help" asp-action="ExchangeAndReturn">Обмен и возврат</a></li>
                            </ul>
                        </li>
                        <li class="nav-item nav-item-mine">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="Enter">
                                Войти
                                <i class="icon-user navbar-icon"></i>
                            </a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>




    <div>
        @RenderBody()
    </div>



    <div class="container">
        <footer class="footer-mine footer d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                    <img src="/img/logo.png" class="img-fluid img-logo" alt="Logo">
                </a>
                <span class="mb-3 mb-md-0 text-body-secondary">
                    © 2024 LUFS, Inc
                </span>
            </div>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3">
                    <a href="https://github.com/lime413/Web_music_feb-jun2024" class="text-body-secondary">
                        <i class="icon-github footer-icon"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a href="https://vk.com/mrevans" class="text-body-secondary">
                        <i class="icon-vkontakte footer-icon"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a href="https://t.me/strangeplanetrus" class="text-body-secondary">
                        <i class="icon-telegram footer-icon"></i>
                    </a>
                </li>
            </ul>
        </footer>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
