@{
    ViewData["Title"] = "Корзина";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col col-7 offset-1">
                <div class="card-item mb-5">
                    <div class="container">
                        <div class="row">
                            <div class="col col-2">
                                <img class="img-card-item" src="~/img/ukulele1.png" />
                            </div>
                            <div class="col col-5">
                                <p>FLIGHT TUS ALYONA SHVETZ</p>
                                <p>Артикул A122189</p>
                            </div>
                            <div class="col col-2">
                                <input type="number" class="form-control mb-2">
                                <p>4 840 руб./шт</p>
                            </div>
                            <div class="col col-2">
                                <p>9 680 р.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-item mb-5">
                    <div class="container">
                        <div class="row">
                            <div class="col col-2">
                                <img class="img-card-item" src="~/img/ukulele2.jpg" />
                            </div>
                            <div class="col col-5">
                                <p>FLIGHT NUT 310</p>
                                <p>Артикул A122189</p>
                            </div>
                            <div class="col col-2">
                                <input type="number" class="form-control mb-2">
                                <p>8 380 р./шт</p>
                            </div>
                            <div class="col col-2">
                                <p>9 680 р.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-item mb-5">
                    <div class="container">
                        <div class="row">
                            <div class="col col-2">
                                <img class="img-card-item" src="~/img/ukulele3.jpg" />
                            </div>
                            <div class="col col-5">
                                <p>FLIGHT TUS 40 GRAFFITI</p>
                                <p>Артикул A122189</p>
                            </div>
                            <div class="col col-2">
                                <input type="number" class="form-control mb-2">
                                <p>4 300 р./шт</p>
                            </div>
                            <div class="col col-2">
                                <p>9 680 р.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-2">
                <div class="container">
                    <div class="row">
                        <div class="col col-12">
                            <p>ВАШ ЗАКАЗ</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-6">
                            <p>1 товар</p>
                        </div>
                        <div class="col col-6">
                            <p>4 840 р.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-6">
                            <p>Итого</p>
                        </div>
                        <div class="col col-6">
                            <p>4 840 р.</p>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary">
                    Продолжить оформление
                </button>
            </div>
        </div>
    </div>
</section>