@{
    ViewData["Title"] = "Магазины";
}

<div class="container">
    <nav aria-label="breadcrumb" class="nav-breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a asp-controller="Client" asp-action="Home" class="link-body-emphasis">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="#" class="link-body-emphasis fw-semibold text-decoration-none">
                    Магазины LUFS
                </a>
            </li>
        </ol>
    </nav>
</div>
<section>
    <div class="row">
        <div class="col col-8 offset-2">
            <div class="mt-3 mb-5">
                <h3>МАГАЗИНЫ LUFS</h3>
            </div>
            <div class="accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionShops-1">
                            Москва
                        </button>
                    </h2>
                    <div id="accordionShops-1" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col col-12 my-3">
                                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0a0a11d9d56f6ec219cc922c8e2e7546b9007452bec30622f166394e6218ea74&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-3">
                                        <p>Адрес:</p>
                                    </div>
                                    <div class="col col-9">
                                        <p>
                                            г. Москва, ул. Вятская, д. 1
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-3">
                                        <p>Метро:</p>
                                    </div>
                                    <div class="col col-9">
                                        <p>Савеловская</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-3">
                                        <p>
                                            Режим работы:
                                        </p>
                                    </div>
                                    <div class="col col-9">
                                        <p>
                                            понедельник — суббота 10:00 - 21:00<br>
                                            воскресенье 10:00 - 20:00
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-3">
                                        <p>Контакты:</p>
                                    </div>
                                    <div class="col col-9">
                                        <p>
                                            8 495 641-59-41</br>
                                            moscow@lufs.ru
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-12">
                                        <p>
                                            В музыкальном магазине LUFS-Москва можно приобрести весь спектр музыкальных инструментов
                                            и оборудования. Войдя в LUFS, вы оказываетесь в настоящем музыкальном раю. В музыкальном
                                            магазине представлено все лучшее, что предлагает сегодня музыкальная индустрия.
                                            Филиал работает с 2003 года, а весной 2011-го магазин обосновался на новом
                                            месте (ул. Вятская, д. 1), в более просторном и комфортабельном помещении.
                                            LUFS расположен на границе Кировского и Октябрьского районов, рядом с такими
                                            достопримечательностями города как памятник воинам Великой отечественной
                                            войны и памятник «Танк Иркутский комсомолец». В июне 2011 года в московском LUFS
                                            прошло важное событие в культурной жизни города — мастер-класс японского
                                            гитариста-виртуоза Акихиро Танаки. В 2012 году магазин принял участие в
                                            благотворительном проекте «Рок-Няни» для детей из детских домов.
                                        </p>
                                    </div>
                                </div>
                                <div class="row row-cols-3">
                                    <div class="col">
                                        <img src="img/moscow1.jpg">
                                    </div>
                                    <div class="col">
                                        <img src="img/moscow2.jpg">
                                    </div>
                                    <div class="col">
                                        <img src="img/moscow3.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionShops-2">
                            Санкт-Петербург
                        </button>
                    </h2>
                    <div id="accordionShops-2" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col col-12 my-3">
                                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3d13648c43119bb714c12b5c06cb4a5510948f542ae380328a72551a21482394&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-3">
                                        <p>Адрес:</p>
                                    </div>
                                    <div class="col col-9">
                                        <p>г. Санкт-Петербург, ул. Марата, д. 53</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-3">
                                        <p>Метро:</p>
                                    </div>
                                    <div class="col col-9">
                                        <p>Лиговский проспект, Достоевская, Владимирская</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-3">
                                        <p>
                                            Режим работы:
                                        </p>
                                    </div>
                                    <div class="col col-9">
                                        <p>
                                            понедельник — суббота 10:00 - 20:00</br>
                                            воскресенье 10:00 - 18:00
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-3">
                                        <p>Контакты:</p>
                                    </div>
                                    <div class="col col-9">
                                        <p>
                                            8 812 401-63-03</br>
                                            spb@lufs.ru
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-12">
                                        <p>
                                            Магазин в Санкт-Петербурге, открывшийся 30 июня 2003 года по адресу наб.
                                            канала Грибоедова, 54, был первым магазином розничной сети LUFS. В феврале
                                            2013 года он переехал на ул. Марата, 53. Музторг располагается в самом «сердце»
                                            Петербурга, в его историческом и культурном центре, рядом со станцией
                                            «Лиговский проспект», в районе с развитой инфраструктурой. Площадь магазина
                                            (она стала почти в три раза больше) позволяет разместить в торговых залах весь
                                            необходимый ассортимент, который регулярно расширяется, а также обеспечить
                                            максимально комфортную обстановку, как для покупателей, так и для персонала.
                                            Кроме того, увеличение площади открыло новые возможности для проведения традиционных
                                            для LUFS концертов, мастер-классов, автограф-сессий, презентаций и других мероприятий.
                                            При магазине оборудована полноценная студия звукозаписи, которая используется
                                            для демонстрации студийного оборудования, обучения и профессиональной работы.
                                            В магазине LUFS в Санкт-Петербурге вы сможете сразу приобрести музыкальные
                                            инструменты и все необходимое в соответствии с вашими потребностями и бюджетом.
                                        </p>
                                    </div>
                                </div>
                                <div class="row row-cols-3">
                                    <div class="col">
                                        <img src="img/spb1.jpg">
                                    </div>
                                    <div class="col">
                                        <img src="img/spb2.jpg">
                                    </div>
                                    <div class="col">
                                        <img src="img/spb3.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionShops-3">
                            Астрахань
                        </button>
                    </h2>
                    <div id="accordionShops-3" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col col-12 my-3my-3">
                                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aea1efebdf7a2906dc4547bab9588a65895348f3ae546a83ee5beaa01fa52f700&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-3">
                                        <p>Адрес:</p>
                                    </div>
                                    <div class="col col-9">
                                        <p>г. Астрахань, ул. Советская, д. 2Б</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-3">
                                        <p>
                                            Режим работы:
                                        </p>
                                    </div>
                                    <div class="col col-9">
                                        <p>
                                            понедельник — суббота 10:00 - 20:00</br>
                                            воскресенье 10:00 - 18:00
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-3">
                                        <p>Контакты:</p>
                                    </div>
                                    <div class="col col-9">
                                        <p>
                                            8 8512 44-39-57</br>
                                            astrakhan@lufs.ru
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-12">
                                        <p>
                                            Официальное открытие магазина LUFS-Астрахань состоялось в мае 2012 года и
                                            было приурочено к приезду легендарного американского гитариста-виртуоза Тони
                                            Макалпайна (31 мая музыкант провел в магазине автограф-сессию, а затем —
                                            мастер-класс в клубе «Метро»). Магазин находится в центре города, в
                                            Кировском районе, в 5 минутах ходьбы от Кремля. Советская улица, на которой
                                            расположен LUFS, выходит на Пречистенские ворота — центральный вход в Кремль.
                                            Также рядом находится «Братский садик» — центральный сквер города, где собирается
                                            молодежь, в том числе музыканты. В 5-10 минутах ходьбы от магазина расположены
                                            Музыкальное училище им. М.П.Мусоргского, Консерватория, Филармония им. Максаковой,
                                            Драмтеатр, ТЮЗ, Областная библиотека им. Крупской, ЦУМ, центральная площадь
                                            города — площадь им. Ленина. Торговая площадь магазина — 100 кв. м. Широкий
                                            ассортимент музыкальных инструментов и оборудования представлен в двух залах
                                            — гитары/клавишные и DJ/ударные.
                                        </p>
                                    </div>
                                </div>
                                <div class="row row-cols-3">
                                    <div class="col">
                                        <img src="img/astrakhan1.jpg">
                                    </div>
                                    <div class="col">
                                        <img src="img/astrakhan2.jpg">
                                    </div>
                                    <div class="col">
                                        <img src="img/astrakhan3.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionShops-4">
                            Ижевск
                        </button>
                    </h2>
                    <div id="accordionShops-4" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col col-12 my-3">
                                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Afc120756e4de68aadc88f9997ef3e06bb4cb8f99f8a4cd97388265d95fc7b1d2&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-3">
                                        <p>Адрес:</p>
                                    </div>
                                    <div class="col col-9">
                                        <p>
                                            г. Ижевск, ул. Карла Маркса, д. 300А
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-3">
                                        <p>
                                            Режим работы:
                                        </p>
                                    </div>
                                    <div class="col col-9">
                                        <p>
                                            понедельник — суббота 10:00 - 20:00
                                            </br>
                                            воскресенье 10:00 - 18:00
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-3">
                                        <p>Контакты:</p>
                                    </div>
                                    <div class="col col-9">
                                        <p>
                                            8 3412 73-66-90</br>
                                            izhevsk@lufs.ru
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-12">
                                        <p>
                                            История ижевского магазина уходит корнями в 1999 год, а
                                            непосредственно LUFS был открыт в июне 2009 года. Весной 2012 года
                                            состоялся переезд на новое место. Теперь он находится в Октябрьском
                                            районе Ижевска, в непосредственной близости от Центральной площади
                                            города и улицы Пушкинская. Магазин состоит из трех торговых залов
                                            общей площадью 150 кв. м. LUFS — это всегда высокий уровень обслуживания,
                                            высокое качество предлагаемых товаров, строгое соблюдение гарантийных
                                            обязательств, качественный сервис. В магазине LUFS стало доброй
                                            традицией проводить «домашние» концертов групп и мастер-классы
                                            музыкантов Ижевска (таких как Александр Третьяков, Виктор Протодьяконов,
                                            группа Whisky Bar Cover Band). Также проходят автограф-сессии известных
                                            российских исполнителей («Пилот», Stigmata, Louna).
                                        </p>
                                    </div>
                                </div>
                                <div class="row row-cols-3">
                                    <div class="col">
                                        <img src="img/izhevsk1.jpg">
                                    </div>
                                    <div class="col">
                                        <img src="img/izhevsk2.jpg">
                                    </div>
                                    <div class="col">
                                        <img src="img/izhevsk3.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionShops-5">
                            Казань
                        </button>
                    </h2>
                    <div id="accordionShops-5" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col col-12 my-3">
                                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A92f4050ba05d15d244a89eb35c0daed868c6994aca7039ad035df8fd40a5554b&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-3">
                                        <p>Адрес:</p>
                                    </div>
                                    <div class="col col-9">
                                        <p>
                                            г. Казань, ул. Зинина, д. 9/23
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-3">
                                        <p>Метро:</p>
                                    </div>
                                    <div class="col col-9">
                                        <p>
                                            Суконная слобода
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-3">
                                        <p>
                                            Режим работы:
                                        </p>
                                    </div>
                                    <div class="col col-9">
                                        <p>
                                            понедельник — суббота 10:00 - 20:00</br>
                                            воскресенье 10:00 - 18:00
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-3">
                                        <p>Контакты:</p>
                                    </div>
                                    <div class="col col-9">
                                        <p>
                                            8 843 238-54-06</br>
                                            kazan@lufs.ru
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-12">
                                        <p>
                                            Музыкальный магазин LUFS открылся в Казани в ноябре 2009 года. LUFS-Казань
                                            расположился в Вахитовском районе, недалеко от центра города. Рядом находятся Парк
                                            Горького, торгово-офисный центр «Корстон», гостиница «Булгар», мост «Миллениум».
                                            Магазин площадью около 200 кв. м соответствует самым передовым требованиям — это
                                            настоящий музыкальный супермаркет. Посетители на месте могут ознакомиться с широким
                                            ассортиментом музыкальных инструментов, профессионального звукового и светового
                                            оборудования от ведущих мировых производителей. Но LUFS-Казань — это не просто
                                            магазин, это место встречи и общения людей, чья деятельность связана с музыкой. В
                                            казанском LUFS проходят различные мероприятия, например, состоялись автограф-сессии
                                            групп «Би-2», «Машина времени», «Черный обелиск», «Парк Горького», мастер-классы
                                            гитаристов Николая Котова, Романа Мирошниченко, бас-гитаристов Сергея Захарова («Король
                                            и Шут») и Ивана Изотова («Radio Ча-Ча», экс-«Эпидемия»).
                                        </p>
                                    </div>
                                </div>
                                <div class="row row-cols-3">
                                    <div class="col">
                                        <img src="img/spb1.jpg">
                                    </div>
                                    <div class="col">
                                        <img src="img/spb2.jpg">
                                    </div>
                                    <div class="col">
                                        <img src="img/spb3.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionShops-6">
                            Ростов-на-Дону
                        </button>
                    </h2>
                    <div id="accordionShops-6" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col col-12 my-3">
                                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A55a6ab9d729b506c2a33c1db85cb02b25b73e0dccab26ac9a8e622bc8dd57df7&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-3">
                                        <p>Адрес:</p>
                                    </div>
                                    <div class="col col-9">
                                        <p>
                                            г. Ростов-на-Дону, ул. Московская, д. 78
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-3">
                                        <p>
                                            Режим работы:
                                        </p>
                                    </div>
                                    <div class="col col-9">
                                        <p>
                                            понедельник — суббота 10:00 - 20:00
                                            </br>
                                            воскресенье 10:00 - 18:00
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-3">
                                        <p>Контакты:</p>
                                    </div>
                                    <div class="col col-9">
                                        <p>
                                            8 863 240-54-72</br>
                                            rnd@lufs.ru
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-12">
                                        <p>
                                            LUFS в Ростове-на-Дону открылся в ноябре 2010 года.
                                            Магазин находится в центре города, в двух минутах ходьбы от
                                            центральной улицы Большая Садовая. Магазин площадью 130 квадратных метров,
                                            включающий два торговых зала, соответствует самым передовым требованиям —
                                            это настоящий музыкальный супермаркет. Посетители на месте могут ознакомиться
                                            с широким ассортиментом музыкальных инструментов, профессионального звукового,
                                            светового и DJ-оборудования легендарных мировых фирм-производителей. Здесь есть
                                            все необходимое и для начинающих, и для профессиональных музыкантов и
                                            звукорежиссеров, а также для владельцев ресторанов, клубов, студий. В магазине
                                            проходят мастер-классы и автограф-сессии (Николай Котов, группы Stigmata,
                                            «Маврин») — это не просто магазин, а настоящий клуб, где ростовские музыканты
                                            встречаются, чтобы пообщаться.
                                        </p>
                                    </div>
                                </div>
                                <div class="row row-cols-3">
                                    <div class="col">
                                        <img src="img/rnd1.jpg">
                                    </div>
                                    <div class="col">
                                        <img src="img/rnd2.jpg">
                                    </div>
                                    <div class="col">
                                        <img src="img/rnd3.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionShops-7">
                            Ярославль
                        </button>
                    </h2>
                    <div id="accordionShops-7" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col col-12 my-3">
                                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A93d7f871b32ab61e4f8a9da666302a0e76f98db21911c01ac3d243cffcd0ade6&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-3">
                                        <p>Адрес:</p>
                                    </div>
                                    <div class="col col-9">
                                        <p>
                                            г. Ярославль, ул. Свободы, д. 71а
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-3">
                                        <p>
                                            Режим работы:
                                        </p>
                                    </div>
                                    <div class="col col-9">
                                        <p>
                                            понедельник — суббота 10:00 - 20:00
                                            </br>
                                            воскресенье 10:00 - 18:00
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-3">
                                        <p>Контакты:</p>
                                    </div>
                                    <div class="col col-9">
                                        <p>
                                            8 4852 31-62-11</br>
                                            yaroslavl@lufs.ru
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col-12">
                                        <p>
                                            Магазин музыкальных инструментов в центре города – это то,
                                            чего давно хотели музыканты Ярославля. Желание материализовалось
                                            17 сентября 2011 года, когда в одном из старейших городов России
                                            был открыт магазин музыкальных инструментов LUFS. Каждый
                                            сможет найти то, что ему нужно в богатом ассортименте нашего магазина!
                                            Гитаристы, клавишники, диджеи, барабанщики, вокалисты, звукорежиссеры
                                            и вообще все, кто имеет какое-либо к музыке, получат квалифицированную
                                            помощь наших сотрудников. LUFS-Ярославль - это три торговых зала
                                            в здании ТЦ «Новая галерея». Наш магазин выходит на Площадь труда,
                                            где расположены Ярославский цирк, «Макдоналдс», комплекс «Фрекен Бок»,
                                            а также стадион «Шинник», который станет одной из площадок грядущего
                                            ЧМ по футболу 2018 г. Кроме многочисленных акций и скидок, в LUFS
                                            проходят мастер-классы профессиональных музыкантов, автограф-сессии
                                            знаменитостей, конкурсы с призами от лидеров рынка музыкального оборудования.
                                            Ждем вас в нашем магазине и всегда рады предложить вам качественное
                                            оборудование и инструменты по привлекательным ценам!
                                        </p>
                                    </div>
                                </div>
                                <div class="row row-cols-3">
                                    <div class="col">
                                        <img src="img/yaroslavl1.jpg">
                                    </div>
                                    <div class="col">
                                        <img src="img/yaroslavl2.jpg">
                                    </div>
                                    <div class="col">
                                        <img src="img/yaroslavl3.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>