@{
    ViewData["Title"] = "Гарантия";
}

<div class="container">
    <nav aria-label="breadcrumb" class="nav-breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a asp-controller="Client" asp-action="Home" class="link-body-emphasis">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="#" class="link-body-emphasis fw-semibold text-decoration-none">
                    Гарантия
                </a>
            </li>
        </ol>
    </nav>
</div>
<section>
    <div class="row">
        <div class="col col-8 offset-2">
            <h3 class="mt-3 mb-4">Гарантия</h3>
            <p class="mb-4">
                Мы всегда идем навстречу нашим Покупателям и решаем спорные вопросы в Вашу пользу.
                LUFS всегда следует Закону о защите прав потребителей.
            </p>
            <p class="fw-bolder">ВЫДЕРЖКИ ИЗ ЗАКОНА:</p>
            <p>
                <ol>
                    <li class="mb-3">
                        На все музыкальные инструменты, содержащие электронику,
                        и звуковое оборудование в зависимости от категории предоставляется гарантия от 12 до 36 месяцев.
                    </li>
                    <li>
                        Гарантия распространяется на электромузыкальные инструменты и звуковое оборудование, 
                        приобретенное на территории России в магазинах сети LUFS.
                    </li>
                    <li class ="mb-3">
                        Гарантийные обязательства подразумевают бесплатное устранение 
                        заводского брака с заменой необходимых деталей, при невозможности 
                        ремонта — замену товара или возврат денег покупателю в соответствии 
                        с законами о правах потребителей. При наступлении гарантийного случая 
                        просим связаться по телефону 8 (495) 641-04-44 или написать нам, 
                        заполнив <a asp-controller="Help" asp-action="Hotline">форму обратной связи</a> и получить предварительную консультацию.
                    </li>
                    <li class="mb-3">
                        Мы предоставляем все гарантии в соответствии с Гражданским 
                        Кодексом РФ и Законом РФ «О защите прав потребителей». Срок 
                        гарантии на каждый вид товара указан в документации на товар. 
                        Гарантийный срок исчисляется с момента передачи товара покупателю.
                    </li class ="mb-3">
                    <li>
                        Гарантийное обслуживание производится в авторизованных сервисных центрах, 
                        а также в фирменных сервисных центрах Yamaha и Casio:
                        <p class="mt-4 p-3 bg-light rounded-2">
                            В случае выявления недостатков товара при эксплуатации в течение гарантийного срока, 
                            мы рекомендуем внимательно ознакомиться с инструкцией по эксплуатации товара, чтобы 
                            определить, все ли требования по эксплуатации техники выполнены правильно.
                            Сервисный центр проводит экспертизу выявленных недостатков, определяет характер дефекта 
                            - заводской брак или результат неправильной эксплуатации
                            В случае возникновения спорных вопросов в процессе переговоров с сервисным центром, 
                            мы прилагаем все возможные усилия для урегулирования ситуации
                            После проведения экспертизы товар с заводским браком подлежит гарантийному ремонту
                            Если ремонт невозможен, то при предъявлении экспертного заключения интернет-магазин 
                            производит обмен товара с заводским дефектом на товар надлежащего качества.
                        </p>
                    </li>
                    <li class ="mb-3">
                        Если в процессе диагностики случай признан гарантийным стоимость 
                        диагностики, расходы на транспортировку и ремонт оплачивает продавец.
                    </li>
                    <li>
                        В случае выявления нарушений при эксплуатации, повлекших неисправность товара, а 
                        также следов вскрытия и непрофессионального ремонта все расходы на сервисное обслуживание и транспортировку оплачивает покупатель.
                    </li>
                </ol>
            </p>
        </div>
    </div>
</section>